html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.container1 {
  width: flex;
  min-height: 100vh;
  background: #a4cebc;
  display: flex;
  padding: 32px 216px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  margin: 0 auto;
}

.container1 div {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.containerimg {
  width: flex;
  min-height: 100vh;
  background: #fff;
  display: flex;
  padding: 32px 216px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-items: center;
  max-width: 100%;
}

.containerimg div {
  max-width: 1280px;
}

.container2 {
  width: flex;
  height: 100%;
  background: #1e1e1e;
  display: flex;
  padding: 160px 216px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  min-width: 0;
}

.container2 div {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.experience {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.work {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.sticky {
  position: sticky;
  align-self: flex-start;
  top: 0;
}

.container3 {
  width: flex;
  height: flex;
  background: #1e1e1e;
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.container4 {
  width: 100%;
  background: #1e1e1e;
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  max-width: 360px;
}

.container5 {
  width: 100%;
  background: #1e1e1e;
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  max-width: 360px;
}

.container6 {
  width: flex;
  display: flex;
  padding: 80px 216px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.container7 {
  min-height: 100vh;
  display: flex;
  padding: 32px 216px;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  gap: 4px;
  background-color: #111;
}

.image {
  width: 100%;
}

h1 {
  color: #fff;
  font-family: "Lastik";
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h2 {
  color: #fff;
  font-family: "Lato";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

h3 {
  color: #949494;
  font-family: "Lato";
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  align-content: center;
}

h4 {
  color: #fff;
  font-family: "Lastik";
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  align-content: center;
}

Text {
  color: #333;
  font-family: "Lastik";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-content: center;
}

.Title {
  color: #666;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.Subtitle {
  color: #333;
  font-family: Lato;
  font-size: 56px;
  font-weight: 300;
  line-height: normal;
}

p {
  color: #949494;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.magic-text {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  animation: sparkle 2s infinite;
}

.magic-text {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  position: relative;
  animation: move-sparkle 10s infinite linear;
}

@keyframes move-sparkle {
  0% {
    text-shadow: -10px 0 10px #b388ff, 0 0 15px #ffa500, 10px 0 10px #b388ff;
  }

  15% {
    text-shadow: 0 -10px 10px #b388ff, 0 0 15px #ffa500, 0 10px 10px #b388ff;
  }

  20% {
    text-shadow: 10px 0 10px #b388ff, 0 0 15px #ffa500, -10px 0 10px #b388ff;
  }

  50% {
    text-shadow: 0 10px 10px #b388ff, 0 0 15px #ffa500, 0 -10px 10px #b388ff;
  }

  100% {
    text-shadow: -10px 0 10px #b388ff, 0 0 15px #ffa500, 10px 0 10px #b388ff;
  }
}

/* General Button Styling */
.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border-radius: 50px; /* Fully rounded */
  transition: background-color 0.3s ease;
}

.arrow {
  margin-left: 8px;
  transition: margin-left 0.3s ease;
}

/* Behance Button */
.behance-btn {
  background-color: #0057ff;
}

.behance-btn:hover .arrow {
  margin-left: 15px;
}

/* Dribbble Button */
.dribbble-btn {
  background-color: #ea4c89;
}

.dribbble-btn:hover .arrow {
  margin-left: 15px;
}

.medium-btn {
  background-color: #191919;
}

.medium-btn:hover .arrow {
  margin-left: 15px;
}

/* Hover effects */
.button:hover {
  opacity: 0.8;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 40px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
  .container1,
  .container2,
  .container7 {
    padding: 32px;
  }

  .containerimg {
    padding: 32px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  .Subtitle {
    font-size: 32px;
  }
  .info-section {
    flex: 1 1 calc(50% - 10px);
  }

  .image-grid div img {
    max-height: auto;
    min-width: 200px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.info-grid {
  display: flex;
  gap: 32px;
  margin-top: 40px;
  align-items: center;
  flex: none;
  flex-wrap: wrap;
  align-items: baseline;
  height: min-content;
  justify-content: center;
  max-width: 2000px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.info-section {
  flex: 1;
}
.info-section h2 {
  color: #666;
  font-weight: 300;
  font-family: "Lato";
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 12px;
  text-align: left;
}
.info-section p,
.info-section ul {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.info-section ul {
  padding-left: 8px;
  list-style: circle;
}
.image-grid {
  display: flex;
  gap: 24px;
  overflow: hidden;
  padding: 16px 0px;
  margin-top: 40px;
  flex-wrap: nowrap;
  align-items: baseline;
  height: min-content;
  justify-content: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.image-grid div {
  flex: 1;
  width: 100%;
}

.image-grid div img {
  width: 100%;
  min-height: 375px;
}
